[submodule "submodules/service-characteristics"]
	path = submodules/service-characteristics
	url = https://gitlab.com/ascs-ev/service-characteristics.git
[submodule "submodules/w3id.org"]
	path = submodules/w3id.org
	url = https://github.com/ASCS-eV/w3id.org.git
[submodule "submodules/sunrise_ontology"]
	path = submodules/sunrise_ontology
	url = https://github.com/ika-rwth-aachen/sunrise_ontology.git
